:root {
    --mainWhite: #fbfbfb;
    --mainAsh: #ededed;
    --mainLiteAsh: #919aa3;
    --mainDarkAsh: #6d7278;
    --mainDark: #000000;
    --mainYellow: #f8a519;
    --mainOrange: #f74a1a;
    --mainPurple: #db4db6;
    --mainSkyBlue: #70e2e2;
    --mainDarkPurple: #841575;
    --mainDeepBlue: #0f4b6d;
    --mainGreen: #04813f;
}
@font-face {
    font-family: Calibri;
    src: url("/assets/fonts/CalibreLight.otf") format("opentype");
}

@font-face {
    font-family: Calibri;
    font-weight: bold;
    src: url("/assets/fonts/CalibreBold.otf") format("opentype");
}

body {
    font-family: Calibri;
}

.logo {
    width: 50px;
}

.header_icon {
    width: 30px;
}

.bg-main-orange {
    background-color: var(--mainOrange);
}

.bg-main-body-ash {
    background-color: var(--mainAsh);
}

label {
    position: relative;
}

label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("/assets/icons/search.svg") center / contain no-repeat;
}

label.subscribe {
    position: relative;
}

label.subscribe:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("/assets/icons/email.svg") center / contain no-repeat;
}

.jADcty {
    display: flex;
    width: auto;
    align-items: flex-end;
}

.jADcty > img {
    width: 300px;
}

.h-cus {
    height: 120px;
}
.circle {
    position: relative;
}
.circle:after {
    content: "";
    position: absolute;
    border: 2px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 7%;
    left: 7%;
}

.cirlce-purple {
    background-color: var(--mainPurple);
}

.cirlce-blue {
    background-color: var(--mainSkyBlue);
}

.cirlce-deep-purple {
    background-color: var(--mainDarkPurple);
}

.circle-deep-blue {
    background-color: var(--mainDeepBlue);
}

.circle-green {
    background-color: var(--mainGreen);
}

.model_img {
    width: 170px;
    display: block;
    margin: 0 auto;
}

.border-mainorange {
    border-color: var(--mainOrange);
}

.model_btn {
    max-width: 120px;
    margin: 20px auto;
}

.shopnow {
    width: 120px;
    height: 50px;
    margin: -20px 0 0 -5px;
    background: #ffffff;
    color: #000000;
}

.buynow_btn {
    max-width: 120px;
}

.buynow {
    width: 120px;
    height: 50px;
    background: #ffffff;
    margin: -20px 0 0 -5px;
    color: #000000;
}

.card-items {
    min-height: 253px;
}

.card-item-img {
    height: 115px;
}

.text-orange {
    color: var(--mainOrange);
}

.dropdown:hover > .dropdown-content {
    display: block;
}

.text-xxs {
    font-size: 0.55rem;
}

.ft-w-full {
    height: 20px;
}
